* {
  font:
    600 16px "CaskaydiaCove Nerd Font",
    sans-serif;
}

window#waybar {
  transition: background-color 0.5s;
  background-color: transparent;
}

#workspaces button,
#mpris,
#tray,
#memory,
#bluetooth,
#wireplumber,
#network,
#clock {
  color: #b4befe;
  padding: 2px 10px;
  margin: 2px;
}

#workspaces button.active {
  color: #cba6f7;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#mpris.paused,
#wireplumber.muted {
  color: #585b70;
}

tooltip {
  border-radius: 5px;
  background-color: #1e1e2e;
  border: 1px solid #b4befe;
}

tooltip label {
  color: #b4befe;
  padding: 2px;
  font-size: 13px;
}
