@define-color off rgba(88, 91, 112, 0.8);
@define-color text rgba(205, 214, 244, 0.8);
@define-color base rgba(030, 030, 046, 0.8);
@define-color play rgba(148, 226, 213, 0.8);
@define-color mauve rgba(203, 166, 247, 0.8);

* {
    font: 600 16px "CaskaydiaCove Nerd Font", sans-serif;
}

window#waybar {
    transition: background-color 0.5s;
    background-color: transparent;
}

#workspaces button,
#mpris,
#tray,
#bluetooth,
#wireplumber,
#network,
#memory,
#clock {
    color: @text;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 2px 4px;
    background-color: @base;
}

#workspaces button:hover,
#workspaces button.active:hover {
    color: @base;
    background-color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.active,
#memory,
#bluetooth,
#wireplumber,
#network,
#clock,
#clock.simpleclock {
    color: @mauve;
}

#mpris.playing {
    color: @play;
}

#mpris.paused,
#wireplumber.muted {
    color: @off;
}

tooltip {
    border-radius: 5px;
    background-color: @base;
    border: 1px solid @mauve;
}

tooltip label {
    color: @text;
    padding: 2px;
    font-size: 13px;
}
