* {
  font:
    600 16px "CaskaydiaCove Nerd Font",
    sans-serif;
}

window#waybar {
  transition: background-color 0.5s;
  background-color: transparent;
}

#workspaces button,
#mpris,
#tray,
#bluetooth,
#wireplumber,
#network,
#memory,
#clock {
  color: #cdd6f4;
  border-radius: 4px;
  padding: 2px 10px;
  margin: 2px;
}

#workspaces button.active {
  color: #cba6f7;
}

#workspaces button:hover,
#workspaces button.active:hover {
  color: #1e1e2e;
  background-color: alpha(#b4befe, 0.8);
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button,
#mpris.playing,
#memory,
#bluetooth,
#wireplumber,
#network,
#clock,
#clock.simpleclock {
  color: alpha(#b4befe, 0.8);
}

#mpris.paused,
#wireplumber.muted {
  color: #585b70;
}

tooltip {
  border-radius: 5px;
  background-color: #1e1e2e;
  border: 1px solid alpha(#b4befe, 0.8);
}

tooltip label {
  color: #cdd6f4;
  padding: 2px;
  font-size: 13px;
}
