* {
    font: 600 16px "CaskaydiaCove Nerd Font", sans-serif;
}

window#waybar {
    transition: background-color 0.5s;
    background-color: rgba(30, 30, 46, 0);
}

#workspaces button,
#mpris,
#tray,
#bluetooth,
#wireplumber,
#network,
#memory,
#clock {
    color: #cdd6f4;
    border-radius: 6px;
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    background-color: #1e1e2e;
}

#workspaces button:hover,
#workspaces button.active:hover {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button.urgent {
    color: #f38ba8;
}

#mpris.playing {
    color: #89b4fa;
}

#mpris.paused, #wireplumber.muted {
    color: #45475a;
}

#memory {
    color: #f9e2af;
}

#bluetooth,
#wireplumber,
#network {
    color: #94e2d5;
}

#clock,
#clock.simpleclock {
    color: #89b4fa;
}

#window {
    color: #cdd6f4;
}

window#waybar.empty #window {
    background-color: rgba(30, 30, 46, 0);
}

tooltip {
    background-color: #1e1e2e;
    border: 1px solid #cba6f7;
}
