* {
  background-color: #181824;
  color: #cdd6f4;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock,
#wireplumber,
#memory,
#mpris {
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  background-color: #1e1e2e;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#clock.simpleclock {
  color: #89b4fa;
}

#window {
  color: #cdd6f4;
}

#wireplumber {
  color: #b4befe;
}

#wireplumber.muted {
  color: #a6adc8;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
