* {
    font: 600 16px "CaskaydiaCove Nerd Font", sans-serif;
}

window#waybar {
    transition: background-color 0.5s;
    background-color: rgba(30, 30, 46, 0); /* Transparent window */
}

/* Shared Module Styling */
#workspaces button,
#mpris,
#tray,
#bluetooth,
#wireplumber,
#network,
#memory,
#clock {
    color: #cdd6f4;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 2px 4px;
    background-color: #1e1e2e;
}

/* Workspaces */
#workspaces button:hover,
#workspaces button.active:hover {
    color: #1e1e2e;
    background-color: #cdd6f4;
}

#workspaces button.active {
    color: #cba6f7;
}

#workspaces button.urgent {
    color: #f38ba8;
}

/* Media Player */
#mpris.playing {
    color: #89b4fa;
}

#mpris.paused {
    color: #45475a;
}

/* Memory */
#memory {
    color: #f9e2af;
}

/* System Tray Group */
#bluetooth,
#wireplumber,
#network {
    color: #94e2d5;
}

#wireplumber.muted {
    color: #45475a;
}

/* Clock Group */
#clock,
#clock.simpleclock {
    color: #89b4fa;
}

/* Tooltips */
tooltip {
    background-color: #1e1e2e;
    border: 1px solid #cba6f7;
    border-radius: 8px;
}

tooltip label {
    color: #cdd6f4;
    padding: 2px;
    font-size: 13px;
}
