* {
  font-family: Lexend, "CaskaydiaCove Nerd Font";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-duration: 0.5s;
  background-color: rgba(30, 30, 46, 0);
  transition-property: background-color;
}

#custom-wofi {
  color: #cba6f7;
  font-size: 20px;
  padding: 0.3rem 0.8rem;
  margin: 0.4rem 0.25rem;
}

#custom-wofi:hover {
  color: #1e1e2e;
  background-color: #89b4fa;
}

#workspaces button {
  color: #cdd6f4;
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  background-color: #1e1e2e;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.active {
  color: #89b4fa;
  background-color: #1e1e2e;
}

#workspaces button.active:hover {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  color: #f38ba8;
  background-color: #1e1e2e;
}

#clock,
#wireplumber,
#tray,
#memory,
#mpris {
  border-radius: 6px;
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

window#waybar.empty #window {
  background-color: transparent;
}

#memory {
  color: #cba6f7;
}

#clock {
  color: #74c7ec;
}

#clock.simpleclock {
  color: #89b4fa;
}

#window {
  color: #cdd6f4;
}

#wireplumber {
  color: #b4befe;
}

#wireplumber.muted {
  color: #a6adc8;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
