@define-color text #cdd6f4;
@define-color base #1e1e2e;
@define-color blue #89b4fa;
@define-color surface2 #585b70;

* {
    font: 600 16px "CaskaydiaCove Nerd Font", sans-serif;
}

window#waybar {
    transition: background-color 0.5s;
    background-color: transparent;
}

#workspaces button,
#mpris,
#tray,
#bluetooth,
#wireplumber,
#network,
#memory,
#clock {
    color: @text;
    border-radius: 4px;
    padding: 2px 10px;
    margin: 2px 4px;
    background-color: @base;
}

#workspaces button:hover,
#workspaces button.active:hover {
    color: @base;
    background-color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.active,
#mpris.playing,
#memory,
#bluetooth,
#wireplumber,
#network,
#clock,
#clock.simpleclock {
    color: @blue;
}

#mpris.paused,
#wireplumber.muted {
    color: @surface2;
}

tooltip {
    border-radius: 5px;
    background-color: @base;
    border: 1px solid @blue;
}

tooltip label {
    color: @text;
    padding: 2px;
    font-size: 13px;
}
