* {
  font-size: 14px;
  font-family: "CaskaydiaCove Nerd Font", monospace;
}

window {
  margin: 0px;
  padding: 10px;
  border-radius: 0.1em;
  animation: slideIn 0.5s ease-in-out both;
  background-color: rgba(30, 30, 46, 0.4);
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#inner-box {
  margin: 5px;
  padding: 10px;
  animation: fadeIn 0.5s ease-in-out both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#outer-box {
  margin: 5px;
  padding: 10px;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 0.1em;
  color: #cdd6f4;
  animation: fadeIn 0.5s ease-in-out both;
  background-color: rgba(30, 30, 46, 0.4);
}

#input image {
  border: none;
  color: #f38ba8;
}

#text {
  margin: 5px;
  color: #cdd6f4;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: transparent;
}

#entry:selected {
  border: 0.11em solid #b4befe;
}

#entry:selected #text {
  color: #cba6f7;
}

#entry:drop(active) {
  background-color: #b4befe !important;
}
