window {
  margin: 0px;
  padding: 10px;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 14px;
  background-color: alpha(#1e1e2e, 0.6);
  color: #cdd6f4;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
}

#input {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: alpha(#1e1e2e, 0.6);
  color: #cdd6f4;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
  border: none;
  color: #f38ba8;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  animation: fadeIn 0.5s ease-in-out both;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 5px;
}

#entry:selected {
  background-color: alpha(#89b4fa, 0.2);
  border: 2px solid #b4befe;
}

#entry:selected #text {
  color: #cba6f7;
  font-weight: bold;
}
